{%extends 'fold/base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content %}
{{block.super}}
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&display=swap" rel="stylesheet"> 
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
<!-- <div class="image">
    <video autoplay muted loop id="myVideo" style="height: 1000px;width: 1000px">
        <source src="{% static 'images/insta.mp4'%}" type="video/mp4">
    </video> -->
        <div class="overlay"> 
            <h1>Instagram</h1>
            <h3>Software</h3>
        </div>

</div>
{% endblock %}