<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="h-10" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/150px-Instagram_logo.svg.png" alt="instagram" style=" margin-left: -77px;">
        <a class="navbar-brand" href="#"></a>
      </div>
    
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li id="nav-about"> <a href="/accounts/password/change">Change Password</a</li>
          <li id="nav-portfolio"><a href="/logout">Logout</a></li>
          <li><a class='' href="/accounts/login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="space-x-4">
    <a class="inline-block bg-blue-500 px-2 py-1 text-white font-semibold 
                         text-sm rounded" href="#">Log In</a>
    <a class="inline-block text-blue-500 font-semibold text-sm" href="#">Sign Up</a>
  </div>